@import url(../node_modules/normalize.css/normalize.css);
@import url(./variables.css);
@import url(./layout.css);
@import url(./componentes/aside-left.css);
@import url(./componentes/main.css);
@import url(./componentes/aside-right.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body);
    background-color: var(--background-light);
    color: var(--text-title-light);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-title);
    font-weight: 700;
    margin: 0;
}

.usuario-t {
    color: var(--text-secondary-light);
    font-size: 0.8rem;
}

.number-tweets {
    color: var(--text-secondary-light);
    font-size: 0.6rem;
}

.show p {
    color: var(--color-primary);
    font-size: 0.8rem;
}

.metadatos, .metadato-date {
    color: var(--text-secondary-light);
    font-size: 0.8rem;
}