:root {
    /* Paleta de Colores */

--color-primary: rgb(124, 202, 255);
--background-light: rgb(255, 255, 255);
--background-dark: rgb(0, 0, 0);
--container-background-light: rgb(230, 249, 255);
--container-background-dark: rgb(0, 0, 0);
--text-title-light: rgb(0, 0, 0);
--text-title-dark: rgb(255, 255, 255);
--text-secondary-light: rgb(144, 144, 144);
--text-secondary-dark: rgb(107, 112, 117);
--icon-light: #8f8f8f;
--icon-dark: #fff;
--icon-like: red;
--icon-retweet: green;
--line-divisor: rgb(210, 210, 210);


/* Fuente Principal */

--font-title: 'Poppins', sans-serif;
--font-body: 'Roboto', sans-serif;


/* Estilo de Bordes */

--border-radius-block: 14px;
--border-radius-pill: 150px;

}