@media (min-width: 1024px) {

    .busqueda {
        background-color: var(--container-background-light);
        border-radius: var(--border-radius-pill);
        border: solid 1px #fff;
        padding: 8px;
        margin: 20px 25px 0 25px;
    }

    .dark .busqueda {
        background-color: transparent;
        border: solid 1px var(--line-divisor);
    }

    .icon-input {
        display: flex;
        gap: 10px;
    }

    .icon-search {
        padding-left: 12px;
    }

    .icon-search svg {
        width: 13px;
        height: 13px;
        color: var(--color-primary);
    }

    .dark .icon-search svg {
        color: var(--text-secondary-dark);
    }

    .text-busqueda {
        width: 100%;
    }

    .text-busqueda input {
        background-color: transparent;
        border: none;
        width: 100%;
    }

    .text-busqueda input:focus {
        outline: none;
    }

    .text-busqueda input::placeholder {
        color: var(--color-primary);
        font-size: 0.8rem;
    }

    .dark .text-busqueda input::placeholder {
        color: var(--text-secondary-dark);
    }

    .grid-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 3px;
        border-radius: 10px;
        overflow: hidden;
    }

    .grid-img img {
        object-fit: cover;
        width: 100%;
        height: 100px;
    }

    .title {
        border-bottom: solid 1px var(--line-divisor);
        width: 100%;
        height: 30px;
    }

    .grid-img, .vestibulum, .donec-commodo {
        margin: 0 25px ;
    }

    .vestibulum, .donec-commodo {
        display: flex;
        flex-direction: column;
        background-color: var(--container-background-light);
        border-radius: var(--border-radius-block);
        padding: 15px 0;
        margin: 20px 25px 0 25px;
    }

    .dark .vestibulum, .dark .donec-commodo {
        background-color: transparent;
        border: solid 1px var(--line-divisor);
    }

    .title, .show {
        padding: 0 15px;
    }

    .tarjetas-usuarios {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .card {
        border-bottom: solid 1px var(--line-divisor);
    }

    .usuarios-follow {
        display: flex;
        flex-grow: 1;
        gap: 10px;
        align-items: center;
        padding: 15px 15px;
    }

    .text-usuario h5:hover, .text-usuario p:hover {
        cursor: pointer;
    }

    .usuarios-follow .btn-usuario {
        margin-left: auto;
    }

    .btn-usuario button {
        background-color: transparent;
        color: var(--color-primary);
        font-size: 0.7rem;
        font-weight: 500;
        width: 75px;
        height: 30px;
        border-radius: var(--border-radius-pill);
        border: solid 1px var(--color-primary);
        transition: all 0.3s ease;
    }

    .btn-usuario button:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 1);
    }

    .dark .btn-usuario button {
        color: var(--text-title-dark);
        border: solid 1px var(--text-title-dark);
    }

    .dark .btn-usuario button:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .foto-usuario {
        width: 40px;
        height: 40px;
        background-color: var(--color-primary);
        border-radius: 50%;
    }

    .foto-usuario:hover {
        cursor: pointer;
    }

    .show {
        margin-top: 10px;
    }

    .show:hover {
        cursor: pointer;
    }

    .dark .show p {
        color: var(--text-secondary-dark);
    }

    .firts-dc {
        display: flex;
    }

    .engranaje {
        margin-left: auto;
    }

    .engranaje svg {
        width: 15px;
        height: 15px;
        color: var(--color-primary);
    }

    .engranaje svg:hover {
        cursor: pointer;
    }

    .dark .engranaje svg {
        color: var(--text-title-dark);
    }

    .donec-commodo .hashtag:not(:last-child) {
        border-bottom: solid 1px var(--line-divisor);
    }

    .hashtag {
        padding: 15px 15px;
    }

    .hashtag .tema:hover, .hashtag .resultado:hover {
        cursor: pointer;
    }

    .hashtag .tema {
        font-size: 0.8rem;
        color: var(--text-secondary-light);
    }

    .hashtag .resultado {
        font-size: 1rem;
        font-weight: 600;
    }

}