.dark .aside-left {
        background-color: var(--container-background-dark);
    }

.dark .aside-left nav .lista-ul .list-navbar .container-nav a {
    color: #fff;
}

.dark .aside-left .btn-div-navbar button {
    background-color: var(--background-light);
    color: var(--background-dark);
    transition: all 0.3s ease;
}

.dark .aside-left .btn-div-navbar button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.dark .aside-left .btn-div-navbar button svg {
    background-color: var(--background-light);
    color: var(--background-dark);
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.lista-ul {
    width: 100%;
    padding: 0 20px;
}

#logo-x {
    display: none;
}

.list-navbar {
    list-style: none;
}

.container-nav {
    color: var(--icon-light);
}

.container-nav a svg {
    width: 25px;
    height: 25px;
}

.list-navbar:nth-child(n+5) {
    display: none;
}

.list-navbar a {
    font-size: 0;
}

.btn-div-navbar {
    position: fixed;
    bottom: 80px;
    right: 20px;
}

.btn-div-navbar button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 0;
    background-color: var(--color-primary);
    border: none;
}

.btn-div-navbar button svg {
    width: 18px;
    height: 18px;
    color: #fff;
}

@media (min-width: 1024px) {

    #logo-x svg {
        width: 30px;
        height: 30px;
    }

    .btn-div-navbar {
    position: static;
}

.btn-div-navbar button {
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-pill);
    color: #fff;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-div-navbar button:hover {
    cursor: pointer;
    background-color: rgb(117, 188, 235);
}

.btn-div-navbar button svg {
    display: none;
}

.list-navbar:nth-child(n+5) {
    display: block;
}

.container-nav a {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 400;
    gap: 20px;
}

.container-nav {
    background-color: transparent;
    color: black;
    padding: 15px;
    display: inline-block;
    border-radius: var(--border-radius-pill);
    transition: all 0.3s ease;
}

.container-nav:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--color-primary);
}

.dark .aside-left nav .lista-ul .list-navbar .container-nav:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.container-nav svg {
    width: 26px;
    height: 26px;
}

.lista-ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 0;
}

#logo-x {
    display: block;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
}

nav {
    width: 80%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

}