.header {
    display: none;
}

.banner {
    height: 120px;
    background-color: var(--color-primary);
    object-fit: cover;
    font-size: 0;
}

.foto-perfil {
    width: 80px;
    height: 80px;
    background-color: var(--color-primary);
    border-radius: 50%;
    border: solid 5px #fff;
    margin: -40px 0 0 25px;
    font-size: 0;
}

.datos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-div-perfil {
    text-align: end;
}

.datos-perfil {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.descripcion {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.fallows-section {
    display: flex;
    gap: 10px;
}

.container-pestanas {
    width: 100%;
    border-bottom: solid 0.5px var(--line-divisor);
    padding-bottom: 15px;
}

.pestanas {
    width: 100%;
    display: flex;justify-content: space-between;
}

.tarjeta {
    display: flex;
    gap: 10px;
    padding: 15px 0;
    border-bottom: solid 0.5px var(--line-divisor);
}

.post {
    width: 100%;
    display: flex;
    gap: 10px;
}

.post .post-flecha {
    width: 10%;
}

.post-foto {
    width: 50px;
    height: 50px;
    background-color: var(--color-primary);
    border-radius: 50%;
    flex-shrink: 0;
}

.container

.post-texto {
    display: flex;
    flex-grow: 1;
}

.post-cabecera {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-user {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.reacciones {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}