.header {
    display: flex;
    gap: 15px;
    padding: 15px 10px;
}

.header svg {
    width: 13px;
    height: 13px;
}

.btn-mode {
    margin-left: auto;
}

.banner {
    width: 100%;
    height: 120px;
    background-color: var(--color-primary);
    object-fit: cover;
    font-size: 0;
    overflow: hidden;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 80% center;
}

.foto-perfil {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin: -52.5px 0 0 10px;
    overflow: hidden;
}

.foto-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
}

.datos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -30px;
}

.btn-div-perfil button {
    background-color: transparent;
    width: 100px;
    height: 35px;
    border-radius: var(--border-radius-pill);
    border: solid 2px var(--color-primary);
    color: var(--color-primary);
    font-size: 0.8rem;
    font-weight: 500;
}

.dark .btn-div-perfil button {
    border: solid 2px #fff;
    color: #fff;
    transition: all 0.3s ease;
}

.dark .btn-div-perfil button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.descripcion {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.metadato-perfil {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.metadato-perfil svg {
    color: var(--icon-light);
    width: 13px;
    height: 13px;
}

.btn-div-perfil {
    text-align: end;
}

.datos-perfil {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.descripcion {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.fallows-section {
    display: flex;
    gap: 10px;
}

.metadatos strong {
    color: black;
}

.dark .metadatos strong {
    color: #fff;
}

.container-pestanas {
    width: 100%;
    height: 35px;
    border-bottom: solid 1px var(--line-divisor);
}

.pestanas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.pestanas-navbar p {
    font-size: 0.9rem;
    font-weight: 700;
    height: 100%;
}

.line-tarjeta {
    border-bottom: solid 1px var(--line-divisor);
}

.tarjeta {
    display: flex;
    gap: 10px;
    padding: 15px 0;
}

.post {
    width: 100%;
    display: flex;
    /* gap: 10px; */
}

.post .post-flecha {
    width: 10%;
}

.post-foto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
}

.post-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
}

.container-post {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.post-texto {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.post-cabecera {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-user {
    display: flex;
    flex-wrap: nowrap;
    gap: 7px;
}

.post-cabecera-name-user h3 {
    font-size: 1rem;
}

.post-flecha {
    display: flex;
    justify-content: end;
}

.post-flecha svg {
    width: 15px;
    height: 15px;
    color: var(--icon-light);
    transition: all 0.3s ease;
}

.dark svg {
    color: #fff;
}

.post-flecha svg:hover {
    cursor: pointer;
}

.reacciones {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    max-width: 85%;
}

.iconos-reaccion {
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--icon-light);
}

.iconos-reaccion svg {
    width: 18px;
    height: 18px;
}

.iconos-reaccion p {
    font-size: 0.8rem;
}

@media (min-width: 1024px) {
    .header {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 15px 10px;
    }

    .flecha-back {
        padding: 8px;
        background-color: transparent;
        border-radius: 50%;
        transition: all 0.3s ease;
    }

    .flecha-back:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: var(--color-primary);
        cursor: pointer;
    }

    .flecha-back svg {
        width: 15px;
        height: 15px;
    }

    .banner {
        height: 200px;
    }

    .foto-perfil {
        display: flex;
        width: 133.5px;
        height: 133.5px;
        margin: -70px 0 0 25px;
    }

    .foto-perfil img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .datos {
        padding: 0 20px;
        margin-top: -35px;
    }

    .btn-div-perfil button {
        background-color: transparent;
        width: 130px;
        height: 35px;
        border-radius: var(--border-radius-pill);
        border: solid 2px var(--color-primary);
        color: var(--color-primary);
        font-size: 1rem;
        font-weight: 700;
        transition: all 0.3s ease;
    }

    .descripcion {
        font-size: 1rem;
    }

    .btn-div-perfil button:hover {
        cursor: pointer;
        background-color: var(--color-primary);
        color: #fff;
    }

    .metadato-perfil {
        gap: 10px;
        flex-wrap: wrap;
    }

    .container-pestanas {
        border: none;
    }

    .pestanas-navbar {
        border-bottom: solid 2px transparent;
        color: black;
        transition: all 0.3s ease;
    }

    .pestanas-navbar:hover {
        border-bottom: solid 2px var(--color-primary);
        color: var(--color-primary);
        cursor: pointer;
    }

    .container-datos {
        border-bottom: solid 1px var(--line-divisor);
    }

    .tarjeta {
        padding: 15px;
    }

    .iconos-reaccion {
        cursor: pointer;
    }
}